{% load staticfiles %}



<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hivestack</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <script src="/static/js/modernizr.js"></script>

    <link href="//d297h9he240fqh.cloudfront.net/favicon.png" rel="icon" type="image/png">
    <link href="//d297h9he240fqh.cloudfront.net/assets/apple-touch-icon-precomposed-97611d77d42bd0e71e86e2d1c2abc31c.png" rel="apple-touch-icon-precomposed" type="image/png">
    <link href="//d297h9he240fqh.cloudfront.net/assets/apple-touch-icon-ipad-precomposed-0639d9c13ff29ae90a3a15a3c0201e15.png" rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png">
    <link href="//d297h9he240fqh.cloudfront.net/assets/apple-touch-icon-iphone4-precomposed-f0c0baab7f68f2060ad067ce3f10ae33.png" rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png">

    <meta name="title" content="Hivestack"/>
    <meta name="description" content="Hivestack is the world&#39;s easiest building platform for creative projects.
    A hub for film, music, art, theater, games, design, and more."/>

      <!--
    <meta property="og:image" content="http://www.kickstarter.com/assets/compass/site/facebook_thumb.jpg"/>
    <meta property="og:url" content="http://www.kickstarter.com"/>
    <meta property="fb:app_id" content="69103156693"/>
    <meta property="twitter:account_id" content="16186995"/>
    <meta name="apple-itunes-app" content="app-id=596961532, app-argument=ksr://www.kickstarter.com/?app_banner=1"/>
    <meta property="twitter:app:id:iphone" content="596961532"/>
    <meta property="twitter:app:name:iphone" content="Kickstarter for iPhone"/>
    <meta property="twitter:app:url:iphone" content="ksr://www.kickstarter.com/?app_banner=1"/>
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="FZbhkTSBui3D0b2DRSBsmIpMrVNL0Rq8Yklk8qYLMsk=" name="csrf-token" />
      -->



    </head>
  <body class="frame site not-mobile not-phone not-tablet not-touchable not-native-app-request video_mode" id="site_index">











    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
